  th,td {
      width: 180px;
      text-align: center;
      padding: 12px;
  }
  button{
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
  .searchBar{
    padding: 12px;
    margin-left: auto;
    margin-right: auto;
  }
  .inputBar{
    min-width: 50rem;
    margin-left: 6rem;
  }